<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://package_a"
            class="package_a.Package_aPackage"
            genModel="model/A.genmodel"/>
   </extension>

</plugin>
