<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.egf.core.fcore">
      <fcore
            id="egf/BuildSCM_generation.fcore">
      </fcore>
      <fcore
            id="egf/BuildStep_generation.fcore">
      </fcore>
      <fcore
            id="egf/BuildCore_generation.fcore">
      </fcore>
      <fcore
            id="egf/Build_generation.fcore">
      </fcore>
      <fcore
            id="egf/BuildDeploy_generation.fcore">
      </fcore>
      <fcore
            id="egf/BuildFile_generation.fcore">
      </fcore>
   </extension>

</plugin>
