<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?><!--
     Copyright (c) 2009 Thales Corporate Services S.A.S.
     All rights reserved. This program and the accompanying materials
     are made available under the terms of the Eclipse Public License v1.0
     which accompanies this distribution, and is available at
     http://www.eclipse.org/legal/epl-v10.html
    
     Contributors:
         Thales Corporate Services S.A.S - initial API and implementation
 -->

<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.egf.category.views"
            class="org.eclipse.egf.core.ui.workbench.views.explorer.FactoryComponentProjectExplorer"
            icon="icons/eview16/factory_component_explorer.gif"
            id="org.eclipse.egf.core.ui.workbench.views.explorer.assetProjectExplorer"
            name="%fcProjectExplorerName">
      </view>
      <category
            id="org.eclipse.egf.category.views"
            name="%egfCategory">
      </category>
      <view
            allowMultiple="false"
            category="org.eclipse.egf.category.views"
            class="org.eclipse.egf.core.ui.workbench.views.fc.InstalledFactoryComponentView"
            icon="platform:/plugin/org.eclipse.egf.model.edit/icons/full/obj16/FactoryComponent.gif"
            id="org.eclipse.egf.core.ui.workbench.views.fc.installedAssetView"
            name="%installedFcViewName">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.eclipse.egf.core.ui.workbench.views.explorer.assetProjectExplorer">
         <popupMenu
               allowsPlatformContributions="false"
               id="org.eclipse.egf.core.ui.workbench.views.explorer.assetProjectExplorer#PopupMenu">
            <insertionPoint
                  name="group.new">
            </insertionPoint>
            <insertionPoint
                  name="group.open"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.edit"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.undoredo"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.delete"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="additions"
                  separator="true">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="org.eclipse.egf.core.ui.workbench.views.explorer.assetProjectExplorer">
         <includes>
            <contentExtension
                  pattern="org.eclipse.egf.core.ui.workbench.views.explorer.assetProjectExplorerContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.egf.core.ui.workbench.views.patternLinkHelper">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewer
            viewerId="org.eclipse.egf.core.ui.workbench.views.fc.installedAssetView">
         <popupMenu
               allowsPlatformContributions="false"
               id="org.eclipse.egf.core.ui.workbench.views.fc.installedAssetView#PopupMenu">
            <insertionPoint
                  name="group.new">
            </insertionPoint>
            <insertionPoint
                  name="group.open"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.edit"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="additions"
                  separator="true">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="org.eclipse.egf.core.ui.workbench.views.fc.installedAssetView">
         <includes>
            <contentExtension
                  pattern="org.eclipse.egf.core.ui.workbench.views.fc.installedAssetViewContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.egf.core.ui.workbench.views.patternLinkHelper">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   
    <extension
      point="org.eclipse.ui.navigator.navigatorContent"
    >
    
      <navigatorContent
        activeByDefault="true"
        contentProvider="org.eclipse.egf.core.ui.viewers.explorer.FactoryComponentExplorerContentProvider"
        id="org.eclipse.egf.core.ui.workbench.views.explorer.assetProjectExplorerContent"
        labelProvider="org.eclipse.egf.core.ui.viewers.explorer.FactoryComponentExplorerLabelProvider"
        name="%fcProjectExplorerContentName"
        priority="normal"
      >
        <triggerPoints>
          <or>
            <instanceof
              value="org.eclipse.egf.core.ui.data.explorer.FactoryComponentWorkingSetManager"
            />
            <instanceof
              value="org.eclipse.egf.core.ui.data.explorer.FactoryComponentWorkingSet"
            />
            <instanceof
              value="org.eclipse.egf.core.ui.data.explorer.FactoryComponentInWorkspace"
            />
            <instanceof
              value="org.eclipse.egf.model.FactoryComponent"
            />
            <!-- begin - possible children, M5 Workaround -->
            <instanceof
              value="org.eclipse.egf.model.Domain"
            />              
            <!-- end - possible children, M5 Workaround -->              
            <instanceof
              value="org.eclipse.egf.model.Specification"
            />
            <instanceof
              value="org.eclipse.egf.model.Contract"
            />
            <!-- begin - possible children, M5 Workaround -->              
            <instanceof
              value="org.eclipse.egf.model.ContractElement"
            />              
            <!-- end - possible children, M5 Workaround -->              
            <instanceof
              value="org.eclipse.egf.model.PatternViewpoint"
            />
            <instanceof
              value="org.eclipse.egf.model.PatternLibrary"
            />
            <!-- begin - possible children, M5 Workaround -->              
            <instanceof
              value="org.eclipse.egf.model.PatternModel"
            />              
            <!-- end - possible children, M5 Workaround -->              
            <instanceof
              value="org.eclipse.egf.model.MappingViewpoint"
            />
            <instanceof
              value="org.eclipse.egf.model.MappingModel"
            />
            <instanceof
              value="org.eclipse.egf.model.Factory"
            />
            <instanceof
              value="org.eclipse.egf.model.ProductionPlan"
            />
            <instanceof
              value="org.eclipse.egf.model.FactoryComponentInvocation"
            />
            <instanceof
              value="org.eclipse.egf.model.Context"
            />
            <!-- begin - possible children, M5 Workaround -->              
            <instanceof
              value="org.eclipse.egf.model.ContextElement"
            />
            <instanceof
              value="org.eclipse.egf.model.TaskFactoryHolder"
            />
            <!-- end - possible children, M5 Workaround -->
          </or>
        </triggerPoints>
        <possibleChildren>
          <or>
            <instanceof
              value="org.eclipse.egf.core.ui.data.explorer.FactoryComponentWorkingSetManager"
            />
            <instanceof
              value="org.eclipse.egf.core.ui.data.explorer.FactoryComponentWorkingSet"
            />
            <instanceof
              value="org.eclipse.egf.core.ui.data.explorer.FactoryComponentInWorkspace"
            />
            <instanceof
              value="org.eclipse.egf.model.FactoryComponent"
            />
            <instanceof
              value="org.eclipse.egf.model.Domain"
            />
            <instanceof
              value="org.eclipse.egf.model.Specification"
            />
            <instanceof
              value="org.eclipse.egf.model.Contract"
            />
            <instanceof
              value="org.eclipse.egf.model.ContractElement"
            />
            <instanceof
              value="org.eclipse.egf.model.PatternViewpoint"
            />
            <instanceof
              value="org.eclipse.egf.model.PatternLibrary"
            />
            <instanceof
              value="org.eclipse.egf.model.PatternModel"
            />
            <instanceof
              value="org.eclipse.egf.model.MappingViewpoint"
            />
            <instanceof
              value="org.eclipse.egf.model.MappingModel"
            />
            <instanceof
              value="org.eclipse.egf.model.Factory"
            />
            <instanceof
              value="org.eclipse.egf.model.ProductionPlan"
            />
            <instanceof
              value="org.eclipse.egf.model.FactoryComponentInvocation"
            />
            <instanceof
              value="org.eclipse.egf.model.Context"
            />
            <instanceof
              value="org.eclipse.egf.model.ContextElement"
            />
            <instanceof
              value="org.eclipse.egf.model.TaskFactoryHolder"
            />
          </or>
        </possibleChildren>
        <commonSorter
          class="org.eclipse.egf.core.ui.workbench.views.fc.FactoryComponentViewSorter"
          id="factoryComponentExplorer.AssetViewSorter"
        >
          <parentExpression>
            <or>
              <instanceof
                value="org.eclipse.egf.model.FactoryComponent"
              />
              <instanceof
                value="org.eclipse.egf.model.Specification"
              />
            </or>
          </parentExpression>
        </commonSorter>
        <commonSorter
          class="org.eclipse.egf.core.ui.workbench.views.fc.ProductionPlanSorter"
          id="factoryComponentExplorer.ProductionPlanSorter"
        >
          <parentExpression>
            <instanceof
              value="org.eclipse.egf.model.ProductionPlan"
            />
          </parentExpression>
        </commonSorter>
        <commonSorter
          class="org.eclipse.egf.core.ui.workbench.views.explorer.FactoryComponentWorkingSetSorter"
          id="factoryComponentExplorer.AssetWorkingSetSorter"
        >
          <parentExpression>
            <instanceof
              value="org.eclipse.egf.core.ui.data.explorer.FactoryComponentWorkingSetManager"
            />
          </parentExpression>
        </commonSorter>
        <actionProvider
          class="org.eclipse.egf.core.ui.workbench.action.explorer.ExplorerActionProvider"
          id="org.eclipse.egf.core.ui.workbench.views.explorer.assetProjectExplorerActionProvider"
        />
        <dropAssistant
          class="org.eclipse.egf.core.ui.workbench.internal.drop.PatternLibraryDropAdapterAssistant"
          id="org.eclipse.egf.core.ui.workbench.patternLibraryDropAssistant"
        >
          <possibleDropTargets>
            <or>
              <instanceof
                value="org.eclipse.egf.model.PatternLibrary"
              />
              <instanceof
                value="org.eclipse.egf.model.PatternViewpoint"
              />
            </or>
          </possibleDropTargets>
        </dropAssistant>
        <dropAssistant
          class="org.eclipse.egf.core.ui.workbench.internal.drop.FactoryComponentInvocationDropAdapterAssistant"
          id="org.eclipse.egf.core.ui.workbench.assetConfigurationDropAssistant"
        >
          <possibleDropTargets>
            <or>
              <instanceof
                value="org.eclipse.egf.model.FactoryComponentInvocation"
              />
            </or>
          </possibleDropTargets>
        </dropAssistant>
      </navigatorContent>
      
      <navigatorContent
        activeByDefault="true"
        contentProvider="org.eclipse.egf.core.ui.viewers.fc.InstalledFactoryComponentContentProvider"
        id="org.eclipse.egf.core.ui.workbench.views.fc.installedAssetViewContent"
        labelProvider="org.eclipse.egf.core.ui.viewers.fc.InstalledFactoryComponentLabelProvider"
        name="%installedFcViewContentName"
        priority="normal"
      >
        <triggerPoints>
          <or>
            <instanceof
              value="org.eclipse.egf.core.ui.data.fc.FactoryComponentInPlatform"
            />               
            <instanceof
              value="org.eclipse.egf.model.FactoryComponent"
            />
            <!-- begin - possible children, M5 Workaround -->
            <instanceof
              value="org.eclipse.egf.model.Domain"
            />              
            <!-- end - possible children, M5 Workaround -->            
            <instanceof
              value="org.eclipse.egf.model.Specification"
            />
            <instanceof
              value="org.eclipse.egf.model.Contract"
            />
            <!-- begin - possible children, M5 Workaround -->              
            <instanceof
              value="org.eclipse.egf.model.ContractElement"
            />              
            <!-- end - possible children, M5 Workaround -->            
            <instanceof
              value="org.eclipse.egf.model.PatternViewpoint"
            />
            <instanceof
              value="org.eclipse.egf.model.PatternLibrary"
            />
            <!-- begin - possible children, M5 Workaround -->              
            <instanceof
              value="org.eclipse.egf.model.PatternModel"
            />              
            <!-- end - possible children, M5 Workaround -->            
            <instanceof
              value="org.eclipse.egf.model.MappingViewpoint"
            />
            <instanceof
              value="org.eclipse.egf.model.MappingModel"
            />
            <instanceof
              value="org.eclipse.egf.model.Factory"
            />
            <instanceof
              value="org.eclipse.egf.model.ProductionPlan"
            />
            <instanceof
              value="org.eclipse.egf.model.FactoryComponentInvocation"
            />
            <instanceof
              value="org.eclipse.egf.model.Context"
            />
            <!-- begin - possible children, M5 Workaround -->              
            <instanceof
              value="org.eclipse.egf.model.ContextElement"
            />
            <instanceof
              value="org.eclipse.egf.model.TaskFactoryHolder"
            />
            <!-- end - possible children, M5 Workaround -->            
          </or>
        </triggerPoints>
        <possibleChildren>
          <or>
            <instanceof
              value="org.eclipse.egf.core.ui.data.fc.FactoryComponentInPlatform"
            />
            <instanceof
              value="org.eclipse.egf.model.FactoryComponent"
            />
            <instanceof
              value="org.eclipse.egf.model.Domain"
            />
            <instanceof
              value="org.eclipse.egf.model.Specification"
            />
            <instanceof
              value="org.eclipse.egf.model.Contract"
            />
            <instanceof
              value="org.eclipse.egf.model.ContractElement"
            />
            <instanceof
              value="org.eclipse.egf.model.PatternViewpoint"
            />
            <instanceof
              value="org.eclipse.egf.model.PatternLibrary"
            />
            <instanceof
              value="org.eclipse.egf.model.PatternModel"
            />
            <instanceof
              value="org.eclipse.egf.model.MappingViewpoint"
            />
            <instanceof
              value="org.eclipse.egf.model.MappingModel"
            />
            <instanceof
              value="org.eclipse.egf.model.Factory"
            />
            <instanceof
              value="org.eclipse.egf.model.ProductionPlan"
            />
            <instanceof
              value="org.eclipse.egf.model.FactoryComponentInvocation"
            />
            <instanceof
              value="org.eclipse.egf.model.Context"
            />
            <instanceof
              value="org.eclipse.egf.model.ContextElement"
            />
            <instanceof
              value="org.eclipse.egf.model.TaskFactoryHolder"
            />
          </or>
        </possibleChildren>
        <commonSorter
          class="org.eclipse.egf.core.ui.workbench.views.fc.FactoryComponentViewSorter"
          id="factoryComponents.AssetViewSorter"
        >
          <parentExpression>
            <or>
              <instanceof
                value="org.eclipse.egf.model.FactoryComponent"
              />
              <instanceof
                value="org.eclipse.egf.model.Specification"
              />
            </or>
          </parentExpression>
        </commonSorter>
        <commonSorter
          class="org.eclipse.egf.core.ui.workbench.views.fc.ProductionPlanSorter"
          id="factoryComponents.ProductionPlanSorter"
        >
          <parentExpression>
            <instanceof
              value="org.eclipse.egf.model.ProductionPlan"
            />
          </parentExpression>
        </commonSorter>
        <actionProvider
          class="org.eclipse.egf.core.ui.workbench.action.fc.InstalledFactoryComponentActionProvider"
          id="org.eclipse.egf.core.ui.workbench.views.fc.installedAssetViewActionProvider"
        />
      </navigatorContent>
      
    </extension>
    
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.egf.category.wizards"
            name="%egfCategory">
      </category>
      <wizard
            category="org.eclipse.egf.category.wizards"
            class="org.eclipse.egf.pde.ui.wizard.NewFactoryComponentProjectWizard"
            icon="icons/obj16/new_asset.gif"
            id="org.eclipse.egf.core.ui.workbench.NewAssetProjectWizard"
            name="%new.fc.project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.egf.core.ui.workbench.perspective.EgfPerspective"
            icon="platform:/plugin/org.eclipse.egf.model.edit/icons/full/obj16/FactoryComponent.gif"
            id="org.eclipse.egf.core.ui.workbench.perspective"
            name="%egfPerspectiveName">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="org.eclipse.egf.core.ui.workbench.egfPopupMenu"
               label="%egfPopupMenu">
            <separator
         name="engine"
                  visible="true">
            </separator>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.egf.core.ui.workbench.egfPopupMenu?after=engine">
         <command
               commandId="org.eclipse.egf.core.ui.workbench.command.convert2FactoryComponent"
               icon="platform:/plugin/org.eclipse.egf.model.edit/icons/full/obj16/FactoryComponent.gif"
               id="org.eclipse.egf.core.ui.workbench.convert2FactoryComponent"
               label="%convert2FactoryComponentTitle"
               style="push"
               tooltip="%convert2FactoryComponentTooltip">
            <visibleWhen>
               <reference
                     definitionId="org.eclipse.egf.core.ui.workbench.definition.convert2FactoryComponent">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.egf.core.ui.workbench.action.ConvertPlugin2FactoryComponentHandler"
            id="org.eclipse.egf.core.ui.workbench.command.convert2FactoryComponent"
            name="%convert2FactoryComponentTitle">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.egf.core.ui.workbench.definition.convert2FactoryComponent">
         <with
               variable="activeMenuSelection">
               <iterate>
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                        <test property="org.eclipse.core.resources.projectNature" 
               				  value="org.eclipse.jdt.core.javanature"/>
                        <test
                              property="org.eclipse.core.resources.open"
                              value="true">
                        </test>
                  </adapt>
               </iterate>
         </with>
      </definition>
   </extension>
   
  <extension
    point="org.eclipse.ui.startup"
  >
    <startup
      class="org.eclipse.egf.core.ui.workbench.EarlyStartup"
    />
  </extension>
     
   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="org.eclipse.egf.core.ui.workbench.internal.navigator.PatternLinkHelper"
            id="org.eclipse.egf.core.ui.workbench.views.patternLinkHelper">
         <editorInputEnablement>
            <instanceof
                  value="org.eclipse.egf.pattern.ui.editor.PatternEditorInput">
            </instanceof></editorInputEnablement>
         <selectionEnablement>
            <instanceof
                  value="org.eclipse.egf.model.PatternModel">
            </instanceof>
         </selectionEnablement>
      </linkHelper>
   </extension>
</plugin>
