<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.egf.core.fcore">
      <fcore
            id="Model_driven_pattern_strategy_task.fcore">
      </fcore>
      <fcore
            id="Filtered_pattern_strategy_task.fcore">
      </fcore>
      <fcore
            id="Default_pattern_strategy_task.fcore">
      </fcore>
      <fcore
            id="Pattern_task.fcore">
      </fcore>
      <fcore
            id="merge_substitutions.fcore">
      </fcore>
   </extension>

</plugin>
