<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
     Copyright (c) 2009-2010 Thales Corporate Services S.A.S.
     All rights reserved. This program and the accompanying materials
     are made available under the terms of the Eclipse Public License v1.0
     which accompanies this distribution, and is available at
     http://www.eclipse.org/legal/epl-v10.html
    
     Contributors:
         Thales Corporate Services S.A.S - initial API and implementation
 -->
 
<plugin>

    <!-- ================================================================================= -->
    <!-- Extension Points Definition                                                       -->
    <!-- ================================================================================= -->
  
    <extension-point 
        id="fcore" 
        name="%EGFFcoreExtensionPoint" 
        schema="schema/fcore.exsd"/>
  
    <extension-point 
        id="fcoreProcessor" 
        name="%EGFFcoreProcessorExtensionPoint" 
        schema="schema/fcoreProcessor.exsd"/>  
    
    <!-- ================================================================================= -->
    <!-- EGF Platform Manager                                                              -->
    <!-- ================================================================================= -->  

    <extension
        point="org.eclipse.egf.core.platform.manager">
        <manager
            extension="org.eclipse.egf.core.fcore"    
            class="org.eclipse.egf.core.internal.fcore.PlatformFcoreFactory"/>       
    </extension>  
  
    <extension
        point="org.eclipse.egf.core.platform.manager">
        <manager
            extension="org.eclipse.emf.ecore.generated_package"    
            class="org.eclipse.egf.core.internal.genmodel.PlatformGenModelFactory"/>       
    </extension>  
    
    <!-- ================================================================================= -->
    <!-- Natures                                                                           -->
    <!-- ================================================================================= -->

    <extension
        point="org.eclipse.core.resources.natures"  
        id="EGFNature"
        name="%EGFNature">
        <runtime>
            <run class="org.eclipse.egf.core.internal.natures.FcoreProject"/>
        </runtime>
    </extension> 
  
    <!-- ================================================================================= -->
    <!-- Editing Domain                                                                    -->
    <!-- ================================================================================= -->  
  
    <extension
        point="org.eclipse.emf.transaction.editingDomains">
        <editingDomain
            factory="org.eclipse.egf.core.domain.TargetPlatformEditingDomainFactory"
            id="org.eclipse.egf.core.editing.domain"/>
    </extension>     

    <extension 
        point="org.eclipse.emf.ecore.generated_package">
        <package
            uri="http://www.eclipse.org/egf/1.0.0/trace"
            class="org.eclipse.egf.core.trace.TracePackage"
            genModel="model/trace.genmodel"/>
    </extension>  
  

</plugin>
