<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.egf.core.ui.editor.property.contributor">
      <contribution
            class="org.eclipse.egf.portfolio.task.jet.ui.contributions.JetTaskEditorContributor">
      </contribution>
   </extension>

</plugin>
