<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
     Copyright (c) 2009-2010 Thales Corporate Services S.A.S.
     This program and the accompanying materials
     are made available under the terms of the Eclipse Public License v2.0
     which accompanies this distribution, and is available at
     https://www.eclipse.org/legal/epl-2.0

     SPDX-License-Identifier: EPL-2.0
    
     Contributors:
         Thales Corporate Services S.A.S - initial API and implementation
 -->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.egf.portfolio.genchain.wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.egf.portfolio.genchain.tools.ui.wizards.GenerationChainWizardID"
            name="%_UI_GenerationChainWizard_label"
            class="org.eclipse.egf.portfolio.genchain.tools.ui.wizards.GenerationChainWizard"
            category="org.eclipse.egf.category.wizards"
            icon="icons/full/obj16/GenerationChainModelFile.gif">
         <description>%_UI_GenerationChainWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

	<extension point="org.eclipse.ui.popupMenus">
  
	    <objectContribution
			id="org.eclipse.egf.portfolio.genchain.tools.contribution1"
			objectClass="org.eclipse.core.resources.IFile"
			nameFilter="*.generationChain">
	        
			<action
         class="org.eclipse.egf.portfolio.genchain.tools.ui.actions.BuildApplicationAction"
         enablesFor="1"
         icon="icons/full/obj16/GenerationChainModelFile.gif"
         id="org.eclipse.egf.portfolio.genchain.tools.ui.actions.build.application.action"
         label="%BuildApplicationAction_label"
         menubarPath="additions"
         tooltip="%BuildApplicationAction_tooltip"/>
	    </objectContribution>
	</extension>	

	<extension point="org.eclipse.ui.popupMenus">
  
	    <objectContribution
			id="org.eclipse.egf.portfolio.genchain.tools.contribution"
			objectClass="org.eclipse.core.resources.IFile"
			nameFilter="*.generationChain">
	        
			<action
				class="org.eclipse.egf.portfolio.genchain.tools.ui.actions.CreateFcoreAction"
				id="org.eclipse.egf.portfolio.genchain.tools.contribution.action.generationchain.resource.createFC"
				label="%CreateAction_label"
				enablesFor="1"
				menubarPath="additions"
				tooltip="%CreateAction_tooltip"/>

			<action
				class="org.eclipse.egf.portfolio.genchain.tools.ui.actions.CreateFcoreAction"
				id="org.eclipse.egf.portfolio.genchain.tools.contribution.action.generationchain.resource.createrunFC"
				label="%CreateRunAction_label"
				enablesFor="1"
				menubarPath="additions"
				tooltip="%CreateRunAction_tooltip"/>
	    </objectContribution>
  
  	    <objectContribution
			id="org.eclipse.egf.portfolio.genchain.tools.contribution"
			objectClass="org.eclipse.egf.portfolio.genchain.generationChain.GenerationChain">
	        
			<action
				class="org.eclipse.egf.portfolio.genchain.tools.ui.actions.CreateFcoreAction"
				id="org.eclipse.egf.portfolio.genchain.tools.contribution.action.generationchain.object.createFC"
				label="%CreateAction_label"
				enablesFor="1"
				menubarPath="additions"
				tooltip="%CreateAction_tooltip"/>
	        
			<action
				class="org.eclipse.egf.portfolio.genchain.tools.ui.actions.CreateFcoreAction"
				id="org.eclipse.egf.portfolio.genchain.tools.contribution.action.generationchain.object.createrunFC"
				label="%CreateRunAction_label"
				enablesFor="1"
				menubarPath="additions"
				tooltip="%CreateRunAction_tooltip"/>
	    </objectContribution>
  </extension>      
	
</plugin>
