<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <!-- ================================================================================= -->
    <!-- Extension Points Definition                                                       -->
    <!-- ================================================================================= -->
    
    <extension-point 
        id="org.eclipse.egf.pattern.extension" 
        name="%PatternExtensionExtensionPoint" 
        schema="schema/org.eclipse.egf.pattern.extension.exsd"
    />    
    
    <extension-point 
        id="org.eclipse.egf.pattern.query" 
        name="%PatternQueryExtensionPoint" 
        schema="schema/org.eclipse.egf.pattern.query.exsd"
    />
    
    <!-- ================================================================================= -->
    <!-- Pattern Queries                                                                   -->
    <!-- ================================================================================= -->    

    <extension
        point="org.eclipse.egf.pattern.query"
    >
        <query
            id="org.eclipse.egf.pattern.basic.query"
	        name="Domain query"
            class="org.eclipse.egf.pattern.query.BasicQueryDelegate"
        />
        <query
            id="org.eclipse.egf.pattern.query.EObjectInjectedContextQuery"
            name="Injection query"        
            class="org.eclipse.egf.pattern.query.EObjectInjectedContextQuery"
        />
    </extension>
    
    <!-- ================================================================================= -->
    <!-- Platform Managers                                                                 -->
    <!-- ================================================================================= -->     

    <extension
        point="org.eclipse.egf.core.platform.manager"
    >
        <manager
            extension="org.eclipse.egf.pattern.query"    
            class="org.eclipse.egf.pattern.query.QueryFactory"
        />
    </extension>  
    
    <!-- ================================================================================= -->
    <!-- Fcore Processor                                                                   -->
    <!-- ================================================================================= -->     

    <extension
        point="org.eclipse.egf.core.fcoreProcessor"
    >
        <fcoreProcessor    
            class="org.eclipse.egf.pattern.templates.TemplateProcessor"
        />
    </extension>     
    
</plugin>
