<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.egf.core.ui.viewpoint.editor.contributor">
         <contribution
               class="org.eclipse.egf.pattern.ui.PatternViewpointContributor">
         </contribution>
   </extension>

	<extension
         point="org.eclipse.ui.editors">
    	<editor
            name="%patternEditorLabel"
            extensions="fcore"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.egf.pattern.ui.editors.PatternEditorContributor"
            class="org.eclipse.egf.pattern.ui.editors.PatternEditor"
            id="org.eclipse.egf.pattern.ui.editors.PatternEditor">
      	</editor>
      	<editor
            name="%patternTemplateEditorLabel"
            extensions="fcore"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.egf.pattern.ui.editors.PatternTemplateEditorContributor"
            class="org.eclipse.egf.pattern.ui.editors.PatternTemplateEditor"
            id="org.eclipse.egf.pattern.ui.editors.PatternTemplateEditor">
      	</editor>
      	
   	</extension>

	<extension point="org.eclipse.ui.editors.documentProviders"> 
	    <provider 
	        inputTypes="org.eclipse.egf.pattern.ui.editors.PatternMethodEditorInput" 
	        class="org.eclipse.ui.editors.text.FileDocumentProvider" 
	        id="org.eclipse.egf.pattern.ui.editors.PatternMethodDocumentProvider"> 
	    </provider> 
	</extension>

   	<extension
         point="org.eclipse.ui.popupMenus">
      	<objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="test.contribution1">
        	<action
               label="Open Pattern"
               class="org.eclipse.egf.pattern.ui.editors.actions.OpenPatternDebugAction"
               enablesFor="1"
               id="test.open.pattern">
         	</action>
		</objectContribution>
       	<objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="test.contribution1">
        	<action
               label="Open Templates"
               class="org.eclipse.egf.pattern.ui.editors.actions.OpenPatternTemplateDebugAction"
               enablesFor="1"
               id="test.open.pattern.template">
         	</action>
		</objectContribution>
   	</extension>
   
   	<extension point="org.eclipse.ui.elementFactories">
   		<factory id="org.eclipse.egf.pattern.ui.pattern.factory.id" class="org.eclipse.egf.pattern.ui.editors.PatternElementFactory" /> 
 	</extension>
   
    <extension
        point="org.eclipse.emf.transaction.editingDomains">
    	<editingDomain
           factory="org.eclipse.egf.pattern.ui.editors.domain.PatternEditingDomainFactory"
           id="org.eclipse.egf.pattern.ui.editors.PatternEditingDomain"/>
  	</extension>
    <extension
          id="PatternBuilder"
          point="org.eclipse.core.resources.builders"
          name="%EGFPatternBuilder">
       <builder>
       		<run
               class="org.eclipse.egf.pattern.ui.builder.PatternBuilder">
       		</run>
       </builder>
    </extension>
  	
  
  	
   
</plugin>
