<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
     Copyright (c) 2009-2010 Thales Corporate Services S.A.S.
     This program and the accompanying materials
     are made available under the terms of the Eclipse Public License v2.0
     which accompanies this distribution, and is available at
     https://www.eclipse.org/legal/epl-2.0

     SPDX-License-Identifier: EPL-2.0
    
     Contributors:
         Thales Corporate Services S.A.S - initial API and implementation
 -->

<plugin>
   <extension-point id="org.eclipse.egf.model.trace.output.processor" name="Trace output processor" schema="schema/trace.output.processor.exsd"/>

    <!-- ================================================================================= -->
    <!-- Types Model                                                                       -->
    <!-- ================================================================================= -->
  
    <extension 
        point="org.eclipse.emf.ecore.generated_package"
    >
        <package
            uri="http://www.eclipse.org/egf/1.0.0/types"
            class="org.eclipse.egf.model.types.TypesPackage"
            genModel="model/Types.genmodel"
        />
    </extension>  
  
    <!-- ================================================================================= -->
    <!-- Fcore Model                                                                       -->
    <!-- ================================================================================= -->

    <extension 
        point="org.eclipse.emf.ecore.generated_package"
    >
        <package
            uri="http://www.eclipse.org/egf/1.0.0/fcore"
            class="org.eclipse.egf.model.fcore.FcorePackage"
            genModel="model/Fcore.genmodel"
        />
    </extension>

    <extension 
        point="org.eclipse.emf.ecore.extension_parser"
    >
        <parser
            type="fcore"
            class="org.eclipse.egf.model.fcore.util.FcoreResourceFactoryImpl"
        />
    </extension>
  
    <!-- ================================================================================= -->
    <!-- Domain Model                                                                      -->
    <!-- ================================================================================= -->  
  
    <extension 
        point="org.eclipse.emf.ecore.generated_package"
    >
        <package
            uri="http://www.eclipse.org/egf/1.0.0/domain"
            class="org.eclipse.egf.model.domain.DomainPackage"
            genModel="model/Domain.genmodel"
        />
    </extension>
    
    <!-- ================================================================================= -->
    <!-- Mapping Model                                                                     -->
    <!-- ================================================================================= -->
  
    <extension 
        point="org.eclipse.emf.ecore.generated_package"
    >
        <package
            uri="http://www.eclipse.org/egf/1.0.0/mapping"
            class="org.eclipse.egf.model.mapping.MappingPackage"
            genModel="model/Mapping.genmodel"
        />
    </extension> 
      
    <!-- ================================================================================= -->
    <!-- Pattern Model                                                                     -->
    <!-- ================================================================================= --> 
  
    <extension 
        point="org.eclipse.emf.ecore.generated_package"
    >
        <package
            uri="http://www.eclipse.org/egf/1.0.0/pattern"
            class="org.eclipse.egf.model.pattern.PatternPackage"
            genModel="model/Pattern.genmodel"
        />
    </extension>
    
</plugin>
