<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.egf.pattern.ui.editor">
      <editor
            Nature="org.eclipse.egf.model.javapattern.impl.JavaNatureImpl"
            editor="org.eclipse.pattern.java.ui.editor.JavaTextEditor">
      </editor>
   </extension>


</plugin>
