<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--

   Copyright (c) 2009-2010 Thales Corporate Services S.A.S.
   All rights reserved. This program and the accompanying materials
   are made available under the terms of the Eclipse Public License v1.0
   which accompanies this distribution, and is available at
   http://www.eclipse.org/legal/epl-v10.html
  
   Contributors:
       Thales Corporate Services S.A.S - initial API and implementation

-->

<plugin>

  <!-- ================================================================================= -->
  <!-- Wizards                                                                           -->
  <!-- ================================================================================= -->

  <extension 
    point="org.eclipse.ui.newWizards"
  >
    <category
      id="org.eclipse.egf.category.wizards"
      name="%_UI_EGF_Wizard_Category"
    />
    <wizard
      id="org.eclipse.egf.model.fcore.presentation.FcoreModelWizardID"
      name="%_UI_FcoreModelWizard_label"
      class="org.eclipse.egf.model.fcore.presentation.FcoreModelWizard"
      category="org.eclipse.egf.category.wizards"
      icon="$nl$/icons/full/obj16/Fcore.gif"
    >
      <description>%_UI_FcoreModelWizard_description</description>
      <selection class="org.eclipse.core.resources.IResource"/>
    </wizard>
  </extension>
  
  <!-- ================================================================================= -->
  <!-- Editors                                                                           -->
  <!-- ================================================================================= -->  

  <extension 
    point="org.eclipse.ui.editors"
  >
    <editor
      id="org.eclipse.egf.model.fcore.tree.editor"
      name="%_UI_FcoreEditor_label"
      icon="$nl$/icons/full/obj16/Fcore.gif"
      extensions="fcore"
      class="org.eclipse.egf.model.fcore.presentation.FcoreEditor"
      contributorClass="org.eclipse.egf.model.fcore.presentation.MultiRootFcoreActionBarContributor"
      default="true"
    />
  </extension>
  
  <!-- ================================================================================= -->
  <!-- Menu Contributor                                                                  -->
  <!-- ================================================================================= -->  
  
  <extension 
    point="org.eclipse.egf.core.ui.editor.menu.contributor"
  >
    <contribution
      class="org.eclipse.egf.model.editor.contributions.ActivityMenuContributor"
    />
    <contribution
      class="org.eclipse.egf.model.editor.contributions.InvocationContractMenuContributor"
    />    
    <contribution
      class="org.eclipse.egf.model.editor.contributions.InvokeActivityMenuContributor"
    />    
    <contribution
      class="org.eclipse.egf.model.editor.contributions.URIMenuContributor"
    />    
  </extension>
  
  <!-- ================================================================================= -->
  <!-- Property Contributor                                                              -->
  <!-- ================================================================================= -->    
  
	<extension 
	 point="org.eclipse.egf.core.ui.editor.property.contributor"
  >
    <contribution 
      class="org.eclipse.egf.model.editor.contributions.TypeEditorContributor"
    />
    <contribution 
      class="org.eclipse.egf.model.editor.contributions.InvocationEditorContributor"
    />
  </extension>  
  
</plugin>
