<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="core" sequenceNumber="1549638242">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.common.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.edit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.codegen.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.codegen.ecore.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecore.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecore.edit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.edit.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.common.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecore.editor.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.codegen.ecore.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.databinding.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.databinding.edit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.converter.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.workspace.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.transaction.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.query.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.validation.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.m2m.atl.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.uml2.uml.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
      <repository id="eclipse" location="http://download.eclipse.org/releases/2019-03/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.acceleo.sdk.feature.group" version="0.0.0"/>
      <repository id="acceleo" location="http://download.eclipse.org/acceleo/updates/releases/3.7/R201705121344/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sirius.doc.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.eef.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.acceleo.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.xtext.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ocl.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.specifier.ide.ui.acceleo.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.specifier.ide.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.acceleo.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.doc.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.eef.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.acceleo.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.xtext.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ocl.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.specifier.ide.ui.acceleo.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.specifier.ide.ui.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.acceleo.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.aql.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.aql.source.feature.group" version="0.0.0"/>
      <repository id="Sirus" location="https://download.eclipse.org/sirius/updates/nightly/6.2.x/2018-12/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.ecoretools.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecoretools.design.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecoretools.explorer.contextual.feature.group" version="0.0.0"/>
      <repository id="EcoreTools" location="http://download.eclipse.org/ecoretools/updates/milestones/3.3.0RC4/oxygen"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.amalgam.explorer.activity.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.amalgam.explorer.activity.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.amalgam.explorer.contextual.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.amalgam.explorer.contextual.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.amalgam.explorer.contextual.sirius.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.amalgam.explorer.contextual.sirius.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.amalgam.explorer.contextual.core.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.amalgam.explorer.contextual.core.source.feature.group" version="0.0.0"/>
      <repository id="amalgam" location="http://download.eclipse.org/modeling/amalgam/updates/stable/1.9.0-S20181029/capella/"/>
    </location>
  </locations>
</target>
