<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?><!--
     Copyright (c) 2009 Thales Corporate Services S.A.S.
     All rights reserved. This program and the accompanying materials
     are made available under the terms of the Eclipse Public License v1.0
     which accompanies this distribution, and is available at
     http://www.eclipse.org/legal/epl-v10.html
    
     Contributors:
         Thales Corporate Services S.A.S - initial API and implementation
 -->

<plugin>

   <extension
         point="org.eclipse.egf.core.factoryComponent">
      <factoryComponent
            contractId="contract.1204818310706.2"
            name="Plugin Generator"
            productionPlanId="productionPlan.1204818310706.3"
            id="asset.1204818310706.4">
      </factoryComponent>
   </extension>
   <extension
         point="org.eclipse.egf.core.contract">
      <contract
            id="contract.1204818310706.2">
         <contractElement
               id="contractElement.1204818516576.7"
               mandatory="true"
               name="projectName"
               type="org.eclipse.egf.model.contract.type.StringTypeHolder">
            <description
                  id="contractElement.1204818516576.7.description">
               The project name used to create the plug-in.
This is also standing for the plug-in id and the factory component name (if this FC is asked to create a new factory component plug-in).
            </description>
         </contractElement>
         <contractElement
               id="contractElement.1204818595185.8"
               mandatory="false"
               name="createAsFactoryComponent"
               type="org.eclipse.egf.model.contract.type.BooleanTypeHolder">
            <description
                  id="contractElement.1204818595185.8.description">
               Should created plug-in be a factory component ?
true if so, false (default value) if it should not be a factory component.
            </description>
         </contractElement>
      </contract>
   </extension>
   <extension
         point="org.eclipse.egf.core.productionPlan">
      <productionPlan
            id="productionPlan.1204818310706.3">
         <assetConfiguration
               id="assetConfiguration.1204818809896.37">
         </assetConfiguration>
      </productionPlan>
   </extension>
   <extension
         point="org.eclipse.egf.core.assetConfiguration">
      <assetConfiguration
            assetId="rootAsset"
            id="assetConfiguration.1204818809896.37"
            name="Create project as plug-in"
            taskFactoryId="taskFactory.1204818879650.38">
      </assetConfiguration>
   </extension>
   <extension
         point="org.eclipse.egf.core.taskFactory">
      <taskFactory
            class="org.eclipse.egf.plugin.gen.task.CreatePluginTaskFactory"
            id="taskFactory.1204818879650.38">
      </taskFactory>
   </extension>

</plugin>
