<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
     Copyright (c) 2009 Thales Corporate Services S.A.S.
     All rights reserved. This program and the accompanying materials
     are made available under the terms of the Eclipse Public License v1.0
     which accompanies this distribution, and is available at
     http://www.eclipse.org/legal/epl-v10.html
    
     Contributors:
         Thales Corporate Services S.A.S - initial API and implementation
 -->
 
<plugin>

   <extension
         point="org.eclipse.egf.core.contract">
      <contract
            id="contract.1233238712534.6">
         <contractElement
               id="contractElement.1233764647125.8"
               mandatory="true"
               name="filePath"
               type="org.eclipse.egf.model.contract.type.StringTypeHolder">
            <description
                  id="contractElement.1233764647125.8.description">
               A path to test file, relative to the specified plug-in (created in the workspace).
            </description>
         </contractElement>
         <contractElement
               id="contractElement.1233764721009.9"
               mandatory="true"
               name="pluginId"
               type="org.eclipse.egf.model.contract.type.StringTypeHolder">
            <description
                  id="contractElement.1233764721009.9.description">
               The plug-in Id of the plug-in that will be created in the workspace (to host the pattern resulting files).
            </description>
            <contractElementRef
                  contractElementReferenceId="contractElementReference.1233822245637.37">
            </contractElementRef>
         </contractElement>
      </contract>
   </extension>
   <extension
         point="org.eclipse.egf.core.productionPlan">
      <productionPlan
            contextId="context.1233825291059.38"
            id="productionPlan.1233238712534.7">
         <assetConfiguration
               id="factoryComponentInvocation.1233822149871.36">
         </assetConfiguration>
         <assetConfiguration
               id="factoryComponentInvocation.1233243937065.46">
         </assetConfiguration>
      </productionPlan>
   </extension>
   <extension
         point="org.eclipse.egf.pattern.pattern">
      <library
            id="patternLibrary.1233239207231.11"
            name="HelloWorldLibrary">
         <pattern
               model="factoryComponent.1233238712534.8/model/pattern/Pattern.1233239232789.12.pm"
               id="Pattern.1233239232789.12"
               name="HelloWorld">
         </pattern>
      </library>
   </extension>
   <extension
         point="org.eclipse.egf.core.assetConfiguration">
      <assetConfiguration
            assetId="Pattern Runner"
            contextId="context.1233244399767.4"
            id="factoryComponentInvocation.1233243937065.46"
            name="Run HelloWorld">
      </assetConfiguration>
      <assetConfiguration
            assetId="asset.1204818310706.4"
            id="factoryComponentInvocation.1233822149871.36"
            name="Create plug-in in workspace">
      </assetConfiguration>
   </extension>
   <extension
         point="org.eclipse.egf.core.context">
      <context
            id="context.1233244399767.4">
         <contextElement
               id="contextElement.1233244914603.7">
            <contextValue
                  value="patternLibrary.1233239207231.11/Pattern.1233239232789.12">
            </contextValue>
            <contractElementRef
                  contractElementReferenceId="contractElementReference.1233244914603.8">
            </contractElementRef>
         </contextElement>
         <contextElement
               id="contextElement.1233244426730.5">
            <contextValue
                  value="org.eclipse.egf.tests.pattern.TestExecutionReporter">
            </contextValue>
            <contractElementRef
                  contractElementReferenceId="contractElementReference.1233244426746.6">
            </contractElementRef>
         </contextElement>
      </context>
   </extension>
   <extension
         point="org.eclipse.egf.core.contractReferences">
      <contractElementReference
            id="contractElementReference.1233244914603.8"
            referencedAssetId="Pattern Runner"
            referencedContractElementId="Pattern Runner.contract.contractElment.patternOrLibraryFullId">
      </contractElementReference>
      <contractElementReference
            id="contractElementReference.1233822245637.37"
            referencedAssetId="asset.1204818310706.4"
            referencedContractElementId="contractElement.1204818516576.7">
      </contractElementReference>
      <contractElementReference
            id="contractElementReference.1233244426746.6"
            referencedAssetId="Pattern Runner"
            referencedContractElementId="Pattern Runner.contract.contractElment.executionReporter">
      </contractElementReference>
      <contractElementReference
            id="contractElementReference.1233825303024.40"
            referencedAssetId="factoryComponent.1233238712534.8"
            referencedContractElementId="contractElement.1233764721009.9">
      </contractElementReference>
      <contractElementReference
            id="contractElementReference.1233825326674.42"
            referencedAssetId="factoryComponent.1233238712534.8"
            referencedContractElementId="contractElement.1233764647125.8">
      </contractElementReference>
   </extension>
   <extension
         point="org.eclipse.egf.core.factoryComponent">
      <factoryComponent
            contractId="contract.1233238712534.6"
            id="factoryComponent.1233238712534.8"
            name="EGF Test Pattern"
            productionPlanId="productionPlan.1233238712534.7">
         <description
               id="factoryComponent.1233238712534.8.description">
            HelloWorld pattern test FC
         </description>
      </factoryComponent>
   </extension>
   <extension
         point="org.eclipse.egf.core.context">
      <context
            id="context.1233825291059.38">
         <contextElement
               id="contextElement.1233825303024.39">
            <contextValue
                  value="helloworld.pattern.plugin">
            </contextValue>
            <contractElementRef
                  contractElementReferenceId="contractElementReference.1233825303024.40">
            </contractElementRef>
         </contextElement>
         <contextElement
               id="contextElement.1233825326674.41">
            <contextValue
                  value="tmp/helloworld.txt">
            </contextValue>
            <contractElementRef
                  contractElementReferenceId="contractElementReference.1233825326674.42">
            </contractElementRef>
         </contextElement>
      </context>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.egf.pattern.pattern_1233239232789_12.Pattern_1233239232789_12Package"
            genModel="model/pattern/Pattern.1233239232789.12.genmodel"
            uri="http://www.eclipse.org/egf/1.0.0/Pattern/Generated/Pattern.1233239232789.12">
      </package>
   </extension>
   <extension
         point="org.eclipse.egf.pattern.patternTemplate">
      <patternTemplate
            class="org.eclipse.egf.tests.pattern.HelloWorldGenerator"
            id="patternLibrary.1233239207231.11/Pattern.1233239232789.12"
            path="org.eclipse.egf.tests.pattern/templates/generated//Pattern.1233239232789.12.pt"
            type="jet">
      </patternTemplate>
   </extension>

</plugin>
