<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
     Copyright (c) 2009 Thales Corporate Services S.A.S.
     All rights reserved. This program and the accompanying materials
     are made available under the terms of the Eclipse Public License v1.0
     which accompanies this distribution, and is available at
     http://www.eclipse.org/legal/epl-v10.html
    
     Contributors:
         Thales Corporate Services S.A.S - initial API and implementation
 -->
 
<plugin>

   <extension
         point="org.eclipse.egf.core.productionPlan">
      <productionPlan
            contextId="context.1233827790473.26"
            id="productionPlan.1233767930993.5">
         <assetConfiguration
               id="factoryComponentInvocation.1233767989106.37">
         </assetConfiguration>
         <assetConfiguration
               id="factoryComponentInvocation.1233768004081.38">
         </assetConfiguration>
         <assetConfiguration
               id="factoryComponentInvocation.1233768021233.39">
         </assetConfiguration>
      </productionPlan>
   </extension>
   <extension
         point="org.eclipse.egf.core.contract">
      <contract
            id="contract.1233767930993.6">
         <contractElement
               id="contractElement.1233827787655.25"
               mandatory="true"
               name="modelPath"
               type="org.eclipse.egf.model.contract.type.StringTypeHolder">
            <description
                  id="contractElement.1233827787655.25.description">
               Path that defines the Ecore model used as input model in the standard EMF generation.
This path is relative to the workspace.
            </description>
            <contractElementRef
                  contractElementReferenceId="contractElementReference.1233827787655.22">
            </contractElementRef>
            <contractElementRef
                  contractElementReferenceId="contractElementReference.1233827787655.23">
            </contractElementRef>
            <contractElementRef
                  contractElementReferenceId="contractElementReference.1233827787655.24">
            </contractElementRef>
         </contractElement>
      </contract>
   </extension>
   <extension
         point="org.eclipse.egf.core.assetConfiguration">
      <assetConfiguration
            assetId="javaCodeGeneratorAsset"
            contextId="context.1233823822702.14"
            id="factoryComponentInvocation.1233767989106.37"
            name="generate Model">
      </assetConfiguration>
      <assetConfiguration
            assetId="asset.1202745857805.2"
            id="factoryComponentInvocation.1233768004081.38"
            name="generate Edit">
      </assetConfiguration>
      <assetConfiguration
            assetId="asset.1202893697946.6"
            id="factoryComponentInvocation.1233768021233.39"
            name="generate Editor">
      </assetConfiguration>
   </extension>
   <extension
         point="org.eclipse.egf.core.contractReferences">
      <contractElementReference
            id="contractElementReference.1233824044383.18"
            referencedAssetId="javaCodeGeneratorAsset"
            referencedContractElementId="javaCodeGeneratorAsset.contract.genModelGenerator">
      </contractElementReference>
      <contractElementReference
            id="contractElementReference.1233827787655.22"
            referencedAssetId="javaCodeGeneratorAsset"
            referencedContractElementId="javaCodeGeneratorAsset.contract.inputPath">
      </contractElementReference>
      <contractElementReference
            id="contractElementReference.1233827787655.23"
            referencedAssetId="asset.1202893697946.6"
            referencedContractElementId="contractElement.1202894244125.28">
      </contractElementReference>
      <contractElementReference
            id="contractElementReference.1233827787655.24"
            referencedAssetId="asset.1202745857805.2"
            referencedContractElementId="contractElement.1202749050675.26">
      </contractElementReference>
      <contractElementReference
            id="contractElementReference.1233827799964.28"
            referencedAssetId="factoryComponent.1233767930993.4"
            referencedContractElementId="contractElement.1233827787655.25">
      </contractElementReference>
      <contractElementReference
            id="contractElementReference.1233824357304.22"
            referencedAssetId="javaCodeGeneratorAsset"
            referencedContractElementId="javaCodeGeneratorAsset.contract.assetProjectName">
      </contractElementReference>
      <contractElementReference
            id="contractElementReference.1233823892917.16"
            referencedAssetId="javaCodeGeneratorAsset"
            referencedContractElementId="javaCodeGeneratorAsset.contract.basePackage">
      </contractElementReference>
   </extension>
   <extension
         point="org.eclipse.egf.core.context">
      <context
            id="context.1233823822702.14">
         <contextElement
               id="contextElement.1233824044383.17">
            <contextValue
                  value="org.eclipse.egf.fc.generator.java.model.EcoreGenModelGenerator">
            </contextValue>
            <contractElementRef
                  contractElementReferenceId="contractElementReference.1233824044383.18">
            </contractElementRef>
         </contextElement>
         <contextElement
               id="contextElement.1233824357304.21">
            <contextValue
                  value="org.eclipse.egf.tests.library">
            </contextValue>
            <contractElementRef
                  contractElementReferenceId="contractElementReference.1233824357304.22">
            </contractElementRef>
         </contextElement>
         <contextElement
               id="contextElement.1233823892901.15">
            <contextValue
                  value="org.eclipse.egf.tests">
            </contextValue>
            <contractElementRef
                  contractElementReferenceId="contractElementReference.1233823892917.16">
            </contractElementRef>
         </contextElement>
      </context>
   </extension>
   <extension
         point="org.eclipse.egf.core.context">
      <context
            id="context.1233827790473.26">
         <contextElement
               id="contextElement.1233827799964.27">
            <contextValue
                  value="/org.eclipse.egf.tests.emf.generation.library/model/domain/egflibrary.ecore">
            </contextValue>
            <contractElementRef
                  contractElementReferenceId="contractElementReference.1233827799964.28">
            </contractElementRef>
         </contextElement>
      </context>
   </extension>
   <extension
         point="org.eclipse.egf.core.factoryComponent">
      <factoryComponent
            contractId="contract.1233767930993.6"
            domain="model/domain/egflibrary.ecore"
            id="factoryComponent.1233767930993.4"
            name="EGF EMF Library Generator"
            productionPlanId="productionPlan.1233767930993.5">
         <description
               id="factoryComponent.1233767930993.4.description">
            This test runs the standard EMF generation with the famous library Ecore model.
         </description>
      </factoryComponent>
   </extension>

</plugin>
