<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension-point 
    id="org.eclipse.egf.core.test" 
    name="%EGF_Test_Schema" 
    schema="schema/org.eclipse.egf.core.test.exsd"
  />
  <extension
        point="org.eclipse.egf.core.fcore">
     <fcore
           id="resources/org.eclipse.egf.example.fcs/egf/fc1.fcore">
     </fcore>
     <fcore
           id="resources/org.eclipse.egf.example.fcs/egf/fc2.fcore">
     </fcore>
     <fcore
           id="resources/org.eclipse.egf.example.task.h2/egf/task_h2.fcore">
     </fcore>
     <fcore
           id="resources/org.eclipse.egf.usecase.pattern.uc1/egf/Pattern_UC1_0_AllTogether.fcore">
     </fcore>
     <fcore
           id="resources/org.eclipse.egf.usecase.pattern.uc1/egf/Pattern_UC1_1_ClassPattern.fcore">
     </fcore>
     <fcore
           id="resources/org.eclipse.egf.usecase.pattern.uc1/egf/Pattern_UC1_2_Inheritance.fcore">
     </fcore>
     <fcore
           id="resources/org.eclipse.egf.usecase.pattern.uc1/egf/Pattern_UC1_3_InheritanceAndCall.fcore">
     </fcore>
     <fcore
           id="resources/org.eclipse.egf.usecase.pattern.uc1/egf/Pattern_UC1_4_Callback_StrategyBased.fcore">
     </fcore>
     <fcore
           id="resources/org.eclipse.egf.usecase.pattern.uc1/egf/Pattern_UC1_5_Callback_WithJavaClass.fcore">
     </fcore>
     <fcore
           id="resources/org.eclipse.egf.usecase.pattern.uc1/egf/Pattern_UC1_6_JetPatternCallsJavaPattern.fcore">
     </fcore>
     <fcore
           id="resources/org.eclipse.egf.usecase.pattern.uc1/egf/Pattern_UC1_7_Injection.fcore">
     </fcore>
     <fcore
           id="resources/org.eclipse.egf.usecase.pattern.uc1/egf/Pattern_UC1_8_WorkspaceDomain.fcore">
     </fcore>
  </extension>

</plugin>
