<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.egf.Examples"
            name="EGF Examples"
            parentCategory="org.eclipse.ui.Examples">
      </category>
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/org.eclipse.egf.Examples"
            class="org.eclipse.egf.examples.installer.EGFExamplesInstallerWizard"
            hasPages="false"
            icon="icons/Icon.gif"
            id="org.eclipse.egf.examples.installer.Wizard"
            name="Basic EGF Examples"
            project="true">
      </wizard>
   </extension>


</plugin>
