<?xml version="1.0" encoding="UTF-8" standalone="no"?><?eclipse version="3.0"?>
<!--
#
# 	Copyright (c) THALES, 2007-2010. All rights reserved.
#
--><plugin>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory class="org.eclipse.egf.portfolio.genchain.ecoretools.ecoreToolsExtension.provider.EcoreToolsExtensionItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.eclipse.org/egf/1.0.0/generationChainEcoreToolsExtension"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <extender class="org.eclipse.egf.portfolio.genchain.ecoretools.ecoreToolsExtension.provider.EcoreToolsExtensionItemProviderAdapterFactory$GenerationChainChildCreationExtender" uri="http://www.eclipse.org/egf/1.0.0/generationChain"/>
   </extension>

</plugin>                                     
