<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.egf.model.ftask.task">
      <nature
            class="org.eclipse.egf.portfolio.task.jet.engine.JetTaskNature"
            kind="JET">
      </nature>
   </extension>

</plugin>
