<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?><!--
     Copyright (c) 2009 Thales Corporate Services S.A.S.
     All rights reserved. This program and the accompanying materials
     are made available under the terms of the Eclipse Public License v1.0
     which accompanies this distribution, and is available at
     http://www.eclipse.org/legal/epl-v10.html
    
     Contributors:
         Thales Corporate Services S.A.S - initial API and implementation
 -->

<plugin>

   <extension
         point="org.eclipse.egf.core.contract">
      <contract
            id="Pattern Runner.contract">
         <contractElement
               id="Pattern Runner.contract.contractElment.executionReporter"
               mandatory="true"
               name="executionReporter"
               type="org.eclipse.egf.pattern.runner.contract.type.PatternExecutionReporterTypeHolder">
            <description
                  id="Pattern Runner.contract.contractElment.executionReporter.description">
               Provides services to handle the events triggered by the pattern execution after each loop execution or/and at the end of the pattern execution.
Matching context element must provide a class that implements org.eclipse.egf.pattern.execution.IPatternExecutionReporter.
            </description>
         </contractElement>
         <contractElement
               id="Pattern Runner.contract.contractElment.factoryComponentAsDomainProvider"
               mandatory="false"
               name="modelPath"
               type="org.eclipse.egf.model.contract.type.StringTypeHolder">
            <description
                  id="Pattern Runner.contract.contractElment.factoryComponentAsDomainProvider.description">
               A relative path against the eclipse platform to locate the domain (Ecore file) used as input in pattern execution.
Ex: /com.thalesgroup.mde.melody.model/model/melody.ecore
            </description>
         </contractElement>
         <contractElement
               id="Pattern Runner.contract.contractElment.patternOrLibraryFullId"
               mandatory="true"
               name="patternOrLibraryFullId"
               type="org.eclipse.egf.pattern.runner.contract.type.PatternIdTypeHolder">
            <description
                  id="Pattern Runner.contract.contractElment.patternOrLibraryFullId.description">
               A pattern library (or pattern) id.
            </description>
         </contractElement>
      </contract>
   </extension>
   <extension
         point="org.eclipse.egf.core.productionPlan">
      <productionPlan
            id="Pattern Runner.productionPlan">
         <assetConfiguration
               id="Pattern Runner.productionPlan.assetConfiguration.conf Root Asset.rootAsset">
         </assetConfiguration>
      </productionPlan>
   </extension>
   <extension
         point="org.eclipse.egf.core.assetConfiguration">
      <assetConfiguration
            assetId="rootAsset"
            id="Pattern Runner.productionPlan.assetConfiguration.conf Root Asset.rootAsset"
            name="conf Root Asset"
            taskFactoryId="Pattern Runner.productionPlan.assetConfiguration.conf Root Asset.rootAsset.taskFactory">
      </assetConfiguration>
   </extension>
   <extension
         point="org.eclipse.egf.core.taskFactory">
      <taskFactory
            class="org.eclipse.egf.pattern.runner.task.PatternRunnerTaskFactory"
            id="Pattern Runner.productionPlan.assetConfiguration.conf Root Asset.rootAsset.taskFactory">
      </taskFactory>
   </extension>
   <extension
         point="org.eclipse.egf.core.factoryComponent">
      <factoryComponent
            contractId="Pattern Runner.contract"
            id="Pattern Runner"
            name="Pattern Runner"
            productionPlanId="Pattern Runner.productionPlan">
         <description
               id="Pattern Runner.description">
            This factory component executes a pattern library (or a pattern) from a pattern library (or pattern) id.
         </description>
      </factoryComponent>
   </extension>

</plugin>
