<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Pattern Action Set"
            visible="true"
            id="test.actionSet">
         <menu
               label="Pattern &amp;Menu"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="&amp;Translate All Action"
               icon="icons/sample.gif"
               class="org.eclipse.egf.dev.pattern.actions.TranslateAllAction"
               tooltip="Translate all patterns"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="org.eclipse.egf.dev.pattern.actions.TranslateAllAction">
         </action>
      </actionSet>
   </extension>

</plugin>
