<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.egf.core.contract">
      <contract
            id="contract.1240323476815.38">
         <contractElement
               id="contractElement.1241007189619.36"
               mandatory="true"
               name="genModel"
               type="org.eclipse.egf.core.ui.contract.type.GenModelTypeHolder">
         </contractElement>
      </contract>
   </extension>
   <extension
         point="org.eclipse.egf.core.productionPlan">
      <productionPlan
            id="productionPlan.1240323476815.39">
         <assetConfiguration
               id="factoryComponentInvocation.1241012083304.41">
         </assetConfiguration>
      </productionPlan>
   </extension>
   <extension
         point="org.eclipse.egf.core.factoryComponent">
      <factoryComponent
            contractId="contract.1240323476815.38"
            id="factoryComponent.1240323476815.40"
            name="EMF Model Generator from GenModel"
            productionPlanId="productionPlan.1240323476815.39">
      </factoryComponent>
   </extension>
   <extension
         point="org.eclipse.egf.core.assetConfiguration">
      <assetConfiguration
            assetId="rootAsset"
            id="factoryComponentInvocation.1241012083304.41"
            name="emfCodeGenerator">
      </assetConfiguration>
   </extension>

</plugin>
