<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.egf.pattern.ui.templateEditor">
       <editor
             class="org.eclipse.egf.pattern.ui.jet.template.JetTemplateEditor"
             id="org.eclipse.egf.pattern.ui.JetTemplateEditor"
             nature="JetNature">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.egf.pattern.ui.jet.template.JetTemplateEditor"
            default="false"
            icon="icons/sample.gif"
            id="org.eclipse.egf.pattern.ui.JetTemplateEditor"
            name="Jet Template Editor">
      </editor>
   </extension>


</plugin>
