<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         point="org.eclipse.egf.core.fcore">
      <fcore
            id="fc/callback_reporter_1.fcore">
      </fcore>
      <fcore
            id="fc/callback_reporter_2.fcore">
      </fcore>
      <fcore
            id="fc/callback_reporter_3.fcore">
      </fcore>
   </extension>
</plugin>
