<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         point="org.eclipse.egf.core.fcore">
      <fcore
            id="fc/callback_reporter_1.fcore">
      </fcore>
      <fcore
            id="fc/callback_reporter_2.fcore">
      </fcore>
      <fcore
            id="fc/callback_reporter_3.fcore">
      </fcore>
      <fcore
            id="fc/callback_1.fcore">
      </fcore>
      <fcore
            id="fc/no_callback_1.fcore">
      </fcore>
      <fcore
            id="fc/inheritance_1.fcore">
      </fcore>
      <fcore
            id="fc/inheritance_2.fcore">
      </fcore>
      <fcore
            id="fc/inheritance_3.fcore">
      </fcore>
      <fcore
            id="fc/inheritance_4.fcore">
      </fcore>
      <fcore
            id="fc/callback_reporter_4.fcore">
      </fcore>
      <fcore
            id="fc/substitution_extension_1.fcore">
      </fcore>
      <fcore
            id="fc/substitution_extension_2.fcore">
      </fcore>
      <fcore
            id="fc/patternCall_1.fcore">
      </fcore>
      <fcore
            id="fc/patternCall_2.fcore">
      </fcore>
      <fcore
            id="fc/jet_tags.fcore">
      </fcore>
      <fcore
            id="model/mypackage.fcore">
      </fcore>
      <fcore
            id="fc/substitution_1.fcore">
      </fcore>
      <fcore
            id="fc/substitution_2.fcore">
      </fcore>
      <fcore
            id="fc/linefeed.fcore">
      </fcore>
      <fcore
            id="fc/substitution_3.fcore">
      </fcore>
      <fcore
            id="fc/substitution_4.fcore">
      </fcore>
      <fcore
            id="fc/patternCall_Condition1.fcore">
      </fcore>
      <fcore
            id="fc/patternCall_Condition2.fcore">
      </fcore>
      <fcore
            id="fc/patternCall_Condition3.fcore">
      </fcore>
      <fcore
            id="fc/patternCall_Condition_extension.fcore">
      </fcore>
      <fcore
            id="fc/model_driven_startegy_condition.fcore">
      </fcore>
      <fcore
            id="fc/substitution_preCondition.fcore">
      </fcore>
      
   </extension>
   
   <extension
         point="org.eclipse.egf.core.test">
      <EGFTestModel
            modelPath="test/Pattern.test">
      </EGFTestModel>
   </extension>
   
</plugin>
