<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?><!--
     Copyright (c) 2009 Thales Corporate Services S.A.S.
     All rights reserved. This program and the accompanying materials
     are made available under the terms of the Eclipse Public License v1.0
     which accompanies this distribution, and is available at
     http://www.eclipse.org/legal/epl-v10.html
    
     Contributors:
         Thales Corporate Services S.A.S - initial API and implementation
 -->

<plugin>

  <!-- ================================================================================= -->
  <!-- Extension Points                                                                  -->
  <!-- ================================================================================= -->

  <extension-point 
    id="org.eclipse.egf.core.ui.editor.menu.contributor" 
    name="%egf.editor.menu.contributor" 
    schema="schema/editor.menu.contributor.exsd"
  />

  <extension-point 
    id="org.eclipse.egf.core.ui.editor.listener.contributor" 
    name="%egf.editor.listener.contributor" 
    schema="schema/editor.listener.contributor.exsd"
  />
  
  <!-- ================================================================================= -->
  <!-- Editing Domain                                                                    -->
  <!-- ================================================================================= -->  
  
  <extension
    point="org.eclipse.emf.transaction.editingDomains"
  >
    <editingDomain
      factory="org.eclipse.egf.core.ui.domain.EGFEditingDomainFactory"
      id="org.eclipse.egf.core.editing.domain"
    />
  </extension>  
  
  <!-- ================================================================================= -->
  <!-- Keywords                                                                          -->
  <!-- ================================================================================= -->
  
  <extension
    point="org.eclipse.ui.keywords"
  >
    <keyword
      label="%egf.preferences.keyword.general"
      id="org.eclipse.egf.general"
    />  
  </extension>  
  
  <!-- ================================================================================= -->
  <!-- Preference Page                                                                   -->
  <!-- ================================================================================= -->  
    
  <extension
    point="org.eclipse.ui.preferencePages"
  >
    <page
      name="%egf.preferences.general"    
      class="org.eclipse.egf.core.ui.internal.preferences.EGFGeneralPreferencePage"
      id="org.eclipse.egf.preferences"
    >
      <keywordReference 
        id="org.eclipse.egf.general"
      />
    </page> 
    <page
      name="%egf.preferences.model"
      class="org.eclipse.egf.core.ui.internal.preferences.EGFModelPreferencePage"
      category="org.eclipse.egf.preferences"      
      id="org.eclipse.egf.preferences.model"
    >
      <keywordReference 
        id="org.eclipse.egf.general"
      />
    </page>       
    <page
      name="%egf.preferences.production"
      class="org.eclipse.egf.core.ui.internal.preferences.EGFProductionPreferencePage"
      category="org.eclipse.egf.preferences"      
      id="org.eclipse.egf.preferences.production"
    >
      <keywordReference 
        id="org.eclipse.egf.general"
      />
    </page>    
  </extension>
  
  <!-- ================================================================================= -->
  <!-- Preferences Initializer                                                           -->
  <!-- ================================================================================= -->  
  
  <extension 
    point="org.eclipse.core.runtime.preferences"
  >
    <initializer 
      class="org.eclipse.egf.core.ui.internal.preferences.ModelPreferenceInitializer"
    />
  </extension>  
  
  <!-- ================================================================================= -->
  <!-- ActionSets                                                                        -->
  <!-- ================================================================================= -->
  
  <extension
    point="org.eclipse.ui.actionSets"
  >
    <actionSet
      label="%EGFFcoreActionSet_label"
      description="%EGFFcoreActionSet_description"      
      visible="true"
      id="org.eclipse.egf.ui.fcore.actionSet"
    >
      <action
        toolbarPath="org.eclipse.search.searchActionSet/Search"
        definitionId="org.eclipse.egf.ui.actionSet.open.fcore.action.definition"
        icon="$nl$/icons/full/obj16/Fcore.gif"
        label="%openFcore.label"
        class="org.eclipse.egf.core.ui.actions.OpenFcoreAction"
        tooltip="%openFcore.description"
        menubarPath="navigate/open.ext4"
        id="org.eclipse.egf.ui.actionSet.open.fcore.action"
      />
    </actionSet>  
  </extension> 
  
  <!-- ================================================================================= -->
  <!-- Command Run                                                                       -->
  <!-- ================================================================================= -->
  
  <extension
    point="org.eclipse.ui.commands"
  >    
    
    <command
      name="%ActionDefinition_openFcore_name"
      description="%ActionDefinition_openFcore_description"
      categoryId="org.eclipse.ui.category.file"
      id="org.eclipse.egf.ui.actionSet.open.fcore.action.definition"
    />
      
  </extension>   
  
  <!-- ================================================================================= -->
  <!-- Bindings                                                                          -->
  <!-- ================================================================================= -->  
  
  <extension
    point="org.eclipse.ui.bindings"
  >
  
  <!-- ================================================================================= -->
  <!-- win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-                                        -->
  <!-- carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL                                     -->  
  <!-- ================================================================================= -->  
  
  <!-- ================================================================================= -->
  <!-- Key Run                                                                           -->
  <!-- ================================================================================= -->
     
    <key
      sequence="M2+T"
      commandId="org.eclipse.egf.ui.actionSet.open.fcore.action.definition"
      schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
    />
            
  </extension>      
      
</plugin>
