<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?><!--
     Copyright (c) 2009 Thales Corporate Services S.A.S.
     All rights reserved. This program and the accompanying materials
     are made available under the terms of the Eclipse Public License v1.0
     which accompanies this distribution, and is available at
     http://www.eclipse.org/legal/epl-v10.html
    
     Contributors:
         Thales Corporate Services S.A.S - initial API and implementation
 -->

<plugin>
   <extension
         point="org.eclipse.egf.core.contract">
      <contract
            id="javadocGeneratorAsset.contract">
         <contractElement
               id="javadocGeneratorAsset.contract.assetProjectName"
               mandatory="true"
               name="assetProjectName"
               type="org.eclipse.egf.model.contract.type.StringTypeHolder">
            <description
                  id="javadocGeneratorAsset.contract.assetProjectName.description">
               The relative path of the project (in the workspace) that hosts java code.
            </description>
         </contractElement>
         <contractElement
               id="contractElement.1195473168178.22"
               mandatory="true"
               name="sourceDirectory"
               type="org.eclipse.egf.model.contract.type.StringTypeHolder">
            <description
                  id="contractElement.1195473168178.22.description">
               Source folder name that contains source code the java documentation is generated for.
            </description>
         </contractElement>
      </contract>
   </extension>
   <extension
         point="org.eclipse.egf.core.productionPlan">
      <productionPlan
            id="javadocGeneratorAsset.productionPlan">
         <assetConfiguration
               id="javadocGeneratorAsset.assetConfiguration">
         </assetConfiguration>
      </productionPlan>
   </extension>
   <extension
         point="org.eclipse.egf.core.assetConfiguration">
      <assetConfiguration
            assetId="rootAsset"
            id="javadocGeneratorAsset.assetConfiguration"
            name="javadocGeneratorAsset.assetConfiguration"
            taskFactoryId="javadocGeneratorAsset.taskFactory">
      </assetConfiguration>
   </extension>
   <extension
         point="org.eclipse.egf.core.taskFactory">
      <taskFactory
            class="org.eclipse.egf.fc.generator.javadoc.task.JavadocGeneratorTaskFactory"
            id="javadocGeneratorAsset.taskFactory">
      </taskFactory>
   </extension>
   <extension
         point="org.eclipse.egf.core.factoryComponent">
      <factoryComponent
            contractId="javadocGeneratorAsset.contract"
            id="javadocGeneratorAsset"
            name="Java Documentation Generator"
            productionPlanId="javadocGeneratorAsset.productionPlan">
         <description
               id="javadocGeneratorAsset.description">
            This factory component produces Java documentation for a source folder located in a project in the workspace. 
Java documentation is generated under a 'doc' folder within given project.
         </description>
      </factoryComponent>
   </extension>

</plugin>
