<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <!-- ================================================================================= -->
    <!-- PatternExtension                                                                  -->
    <!-- ================================================================================= -->

    <extension
        point="org.eclipse.egf.pattern.extension"
    >
        <flavor
            nature="org.eclipse.egf.model.jetpattern.JetNature"
            class="org.eclipse.egf.pattern.jet.extension.JetPatternExtension"
        />
    </extension>

</plugin>
