<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?><!--
     Copyright (c) 2009 Thales Corporate Services S.A.S.
     All rights reserved. This program and the accompanying materials
     are made available under the terms of the Eclipse Public License v1.0
     which accompanies this distribution, and is available at
     http://www.eclipse.org/legal/epl-v10.html
    
     Contributors:
         Thales Corporate Services S.A.S - initial API and implementation
 -->

<plugin>

   <extension
         point="org.eclipse.egf.core.contract">
      <contract
            id="contract.1202893697946.4">
         <contractElement
               id="contractElement.1202894244125.28"
               mandatory="true"
               name="modelRelativePath"
               type="org.eclipse.egf.model.contract.type.StringTypeHolder">
            <description
                  id="contractElement.1202894244125.28.description">
               A relative path to locate an Ecore model file against the eclipse platform.
The model API for this Ecore model must be generated once at least (i.e the generated_package extension must exist).
            </description>
         </contractElement>
         <contractElement
               id="contractElement.1202894210896.27"
               mandatory="false"
               name="generatorAdapterFactory"
               type="org.eclipse.egf.fc.generator.java.contract.type.GeneratorAdapterFactoryTypeHolder">
            <description
                  id="contractElement.1202894210896.27.description">
               A factory for adapters that modify code generation.
Matching context element must provide a class that extends org.eclipse.egf.fc.generator.java.model.AbstractGenModelGeneratorAdapterFactory.
            </description>
         </contractElement>
         <contractElement
               id="contractElement.1224164827016.13"
               mandatory="false"
               name="mergeRulesPath"
               type="org.eclipse.egf.model.contract.type.StringTypeHolder">
            <description
                  id="contractElement.1224164827016.13.description">
               Relative path to the merge rules file (JMerge).
The path starts with the plug-in id whether it is deployed or not.
This requires that the generatorAdapterFactory is provided too.
            </description>
         </contractElement>
      </contract>
   </extension>
   <extension
         point="org.eclipse.egf.core.productionPlan">
      <productionPlan
            id="productionPlan.1202893697946.5">
         <assetConfiguration
               id="assetConfiguration.1202894407011.29">
         </assetConfiguration>
      </productionPlan>
   </extension>
   <extension
         point="org.eclipse.egf.core.factoryComponent">
      <factoryComponent
            contractId="contract.1202893697946.4"
            id="asset.1202893697946.6"
            name="EMF Editor Generator"
            productionPlanId="productionPlan.1202893697946.5">
         <description
               id="asset.1202893697946.6.description">
            This factory component runs EMF Editor code generator for an Ecore model.
The Edit API for given Ecore model must be generated before running this factory component.
The project (and the source folder) that hosts the generated code is got from the genModel related to the given Ecore model. 
Default code generation behavior can be customized by providing a generator adapter factory.
         </description>
      </factoryComponent>
   </extension>
   <extension
         point="org.eclipse.egf.core.assetConfiguration">
      <assetConfiguration
            assetId="rootAsset"
            id="assetConfiguration.1202894407011.29"
            name="generate"
            taskFactoryId="taskFactory.1202894730277.30">
      </assetConfiguration>
   </extension>
   <extension
         point="org.eclipse.egf.core.taskFactory">
      <taskFactory
            class="org.eclipse.egf.emf.generator.editor.task.EditorGeneratorTaskFactory"
            id="taskFactory.1202894730277.30">
      </taskFactory>
   </extension>

</plugin>
